In [29]:
import numpy as np
import pandas as pd
from IPython.display import display

## xls 파일 읽어오기. (xlwt/xlrd 패키지 사용)

### 1. .xls Workbook 생성

In [13]:
import xlwt, xlrd

wb = xlwt.Workbook()
wb

### -Worksheet 생성

In [14]:
ws_1 = wb.add_sheet('usa', cell_overwrite_ok = True)

In [15]:
ws_1 = wb.get_sheet(0)
ws_1

## 미국환율 데이터 .xls 파일 불러오기

### 1.참고사이트: https://stackoverflow.com/questions/9623029/python-xlrd-unsupported-format-or-corrupt-file
### 2.참고사이트: https://www.dataquest.io/blog/excel-and-pandas/

In [36]:
excel_file = 'usa.xls'
usa = pd.read_html(excel_file)

In [31]:
display(usa)

[              0        1        2        3            4             5  \
 0            일자       송금       현찰   T/C사실때  매매기준율(전일대비)       한국은행기준율
 1          보내실때     받으실때      사실때      파실때          NaN           NaN
 2    2019.05.10  1189.40  1166.60  1198.61      1157.39  1,192.13/td>
 3    2019.05.09  1193.90  1171.10  1203.19      1161.81  1,196.69/td>
 4    2019.05.08  1181.80  1159.20  1190.98      1150.02  1,184.54/td>
 5    2019.05.07  1179.30  1156.70  1188.44      1147.56  1,182.01/td>
 6    2019.05.03  1181.80  1159.20  1190.98      1150.02  1,184.54/td>
 7    2019.05.02  1176.30  1153.70  1185.38      1144.62  1,178.98/td>
 8    2019.04.30  1177.30  1154.70  1186.40      1145.60  1,179.99/td>
 9    2019.04.29  1171.70  1149.30  1180.80      1140.20  1,174.42/td>
 10   2019.04.26  1171.70  1149.30  1180.80      1140.20  1,174.42/td>
 11   2019.04.25  1174.70  1152.30  1183.86      1143.14  1,177.46/td>
 12   2019.04.24  1161.10  1138.90  1170.12      1129.88  1,163.80/td>
 13   2019.04.23  1153.50  1131.50  1162.49      1122.51  1,156.21/td>
 14   2019.04.22  1152.50  1130.50  1161.47      1121.53  1,155.19/td>
 15   2019.04.19  1147.50  1125.50  1156.38      1116.62  1,150.13/td>
 16   2019.04.18  1148.50  1126.50  1157.40      1117.60  1,151.15/td>
 17   2019.04.17  1144.40  1122.60  1153.33      1113.67  1,147.10/td>
 18   2019.04.16  1147.00  1125.00  1155.88      1116.12  1,149.63/td>
 19   2019.04.15  1143.90  1122.10  1152.82      1113.18  1,146.59/td>
 20   2019.04.12  1149.00  1127.00  1157.91      1118.09  1,151.65/td>
 21   2019.04.11  1151.00  1129.00  1159.95      1120.05  1,153.68/td>
 22   2019.04.10  1150.50  1128.50  1159.44      1119.56  1,153.17/td>
 23   2019.04.09  1151.50  1129.50  1160.45      1120.55  1,154.18/td>
 24   2019.04.08  1156.60  1134.40  1165.54      1125.46  1,159.24/td>
 25   2019.04.05  1149.00  1127.00  1157.91      1118.09  1,151.65/td>
 26   2019.04.04  1149.00  1127.00  1157.91      1118.09  1,151.65/td>
 27   2019.04.03  1146.00  1124.00  1154.86      1115.14  1,148.62/td>
 28   2019.04.02  1148.00  1126.00  1156.89      1117.11  1,150.64/td>
 29   2019.04.01  1145.50  1123.50  1154.35      1114.65  1,148.11/td>
 ..          ...      ...      ...      ...          ...           ...
 795  2016.02.17  1238.90  1215.10  1248.47      1205.53  1,241.72/td>
 796  2016.02.16  1227.70  1204.30  1237.28      1194.72  1,230.59/td>
 797  2016.02.15  1220.70  1197.30  1230.15      1187.85  1,223.50/td>
 798  2016.02.12  1220.70  1197.30  1230.15      1187.85  1,223.50/td>
 799  2016.02.11  1214.60  1191.40  1224.05      1181.95  1,217.43/td>
 800  2016.02.05  1209.10  1185.90  1218.45      1176.55  1,211.87/td>
 801  2016.02.04  1209.60  1186.40  1218.96      1177.04  1,212.37/td>
 802  2016.02.03  1228.80  1205.20  1238.29      1195.71  1,231.60/td>
 803  2016.02.02  1219.70  1196.30  1229.14      1186.86  1,222.49/td>
 804  2016.02.01  1214.10  1190.90  1223.54      1181.46  1,216.93/td>
 805  2016.01.29  1216.60  1193.40  1226.08      1183.92  1,219.46/td>
 806  2016.01.28  1219.20  1195.80  1228.63      1186.37  1,221.99/td>
 807  2016.01.27  1214.10  1190.90  1223.54      1181.46  1,216.93/td>
 808  2016.01.26  1216.10  1192.90  1225.57      1183.43  1,218.95/td>
 809  2016.01.25  1208.60  1185.40  1217.94      1176.06  1,211.36/td>
 810  2016.01.22  1211.10  1187.90  1220.49      1178.51  1,213.89/td>
 811  2016.01.21  1225.20  1201.80  1234.73      1192.27  1,228.06/td>
 812  2016.01.20  1227.70  1204.30  1237.28      1194.72  1,230.59/td>
 813  2016.01.19  1218.20  1194.80  1227.61      1185.39  1,220.97/td>
 814  2016.01.18  1223.20  1199.80  1232.70      1190.30  1,226.03/td>
 815  2016.01.15  1227.20  1203.80  1236.77      1194.23  1,230.08/td>
 816  2016.01.14  1225.70  1202.30  1235.24      1192.76  1,228.56/td>
 817  2016.01.13  1215.60  1192.40  1225.07      1182.93  1,218.44/td>
 818  2016.01.12  1222.70  1199.30  1232.19      1189.81  1,225.53/td>
 819  2016.01.11  1218.20  1194.80  1227.61      1185.39  1,220.97/td>
 820  2016.01.08  1210.60  1187.40  1219.98      1178.02  1,213.38/td>
 821  2016.01.07  1210.60  1187.40  1219.98      1178.02  1,213.38/td>
 822  2016.01.06  1210.60  1187.40  1219.98      1178.02  1,213.38/td>
 823  2016.01.05  1200.00  1177.00  1209.29      1167.71  1,202.76/td>
 824  2016.01.04  1200.50  1177.50  1209.80      1168.20  1,203.26/td>

                     6       7    8
 0               대미환산율     NaN  NaN
 1                 NaN     NaN  NaN
 2     1,178.00하락-4.50  1175.8  1.0
 3     1,182.50상승12.00  1169.9  1.0
 4      1,170.50상승2.50  1169.8  1.0
 5     1,168.00하락-2.50  1169.4  1.0
 6      1,170.50상승5.50  1163.9  1.0
 7     1,165.00하락-1.00  1163.8  1.0
 8      1,166.00상승5.50  1158.2  1.0
 9             1160.50  1159.7  1.0
 10    1,160.50하락-3.00  1158.7  1.0
 11    1,163.50상승13.50  1146.9  1.0
 12     1,150.00상승7.50  1141.1  1.0
 13     1,142.50상승1.00  1140.8  1.0
 14     1,141.50상승5.00  1137.1  1.0
 15    1,136.50하락-1.00  1136.2  1.0
 16     1,137.50상승4.00  1136.1  1.0
 17    1,133.50하락-2.50  1135.7  1.0
 18     1,136.00상승3.00  1133.9  1.0
 19    1,133.00하락-5.00  1140.5  1.0
 20    1,138.00하락-2.00  1139.2  1.0
 21     1,140.00상승0.50  1141.2  1.0
 22    1,139.50하락-1.00  1142.8  1.0
 23    1,140.50하락-5.00  1141.4  1.0
 24     1,145.50상승7.50  1136.4  1.0
 25            1138.00  1135.5  1.0
 26     1,138.00상승3.00  1134.9  1.0
 27    1,135.00하락-2.00  1135.8  1.0
 28     1,137.00상승2.50  1132.7  1.0
 29    1,134.50하락-1.50  1136.1  1.0
 ..                ...     ...  ...
 795   1,227.00상승11.00  1216.6  1.0
 796    1,216.00상승7.00  1209.9  1.0
 797           1209.00  1206.5  1.0
 798    1,209.00상승6.00  1197.0  1.0
 799    1,203.00상승5.50  1195.1  1.0
 800   1,197.50하락-0.50  1202.7  1.0
 801  1,198.00하락-19.00  1216.7  1.0
 802    1,217.00상승9.00  1203.1  1.0
 803    1,208.00상승5.50  1204.5  1.0
 804   1,202.50하락-2.50  1206.2  1.0
 805   1,205.00하락-2.50  1208.4  1.0
 806    1,207.50상승5.00  1201.0  1.0
 807   1,202.50하락-2.00  1201.4  1.0
 808    1,204.50상승7.50  1194.4  1.0
 809   1,197.00하락-2.50  1203.2  1.0
 810  1,199.50하락-14.00  1209.9  1.0
 811   1,213.50하락-2.50  1211.6  1.0
 812    1,216.00상승9.50  1209.9  1.0
 813   1,206.50하락-5.00  1212.5  1.0
 814   1,211.50하락-4.00  1211.0  1.0
 815    1,215.50상승1.50  1212.7  1.0
 816   1,214.00상승10.00  1206.4  1.0
 817   1,204.00하락-7.00  1208.5  1.0
 818    1,211.00상승4.50  1208.6  1.0
 819    1,206.50상승7.50  1196.2  1.0
 820           1199.00  1199.7  1.0
 821           1199.00  1193.9  1.0
 822   1,199.00상승10.50  1187.7  1.0
 823   1,188.50하락-0.50  1184.3  1.0
 824           1189.00  1172.0  1.0

 [825 rows x 9 columns]]

In [44]:
usa_sheet1 = pd.read_html(excel_file, sheetname = 'usa', index_col=0)

TypeError: read_html() got an unexpected keyword argument 'sheetname'

In [46]:
usa.columns

AttributeError: 'list' object has no attribute 'columns'

In [47]:
usa1 = pd.read_csv('usa.csv')

In [49]:
display(usa1)

,일자,송금,Unnamed: 2,현찰,Unnamed: 4,T/C사실때,매매기준율,한국은행기준율,대미환산율
0,NaN,보내실때,받으실때,사실때,파실때,NaN,(전일대비),NaN,NaN
1,2019.05.10,"1,189.40","1,166.60","1,198.61","1,157.39","1,192.13/td>","1,178.00","1,175.80",1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,하락-4.50,NaN,NaN
3,2019.05.09,"1,193.90","1,171.10","1,203.19","1,161.81","1,196.69/td>","1,182.50","1,169.90",1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,상승12.00,NaN,NaN
5,2019.05.08,"1,181.80","1,159.20","1,190.98","1,150.02","1,184.54/td>","1,170.50","1,169.80",1.0
6,NaN,NaN,NaN,NaN,NaN,NaN,상승2.50,NaN,NaN
7,2019.05.07,"1,179.30","1,156.70","1,188.44","1,147.56","1,182.01/td>","1,168.00","1,169.40",1.0
8,NaN,NaN,NaN,NaN,NaN,NaN,하락-2.50,NaN,NaN
9,2019.05.03,"1,181.80","1,159.20","1,190.98","1,150.02","1,184.54/td>","1,170.50","1,163.90",1.0
10,NaN,NaN,NaN,NaN,NaN,NaN,상승5.50,NaN,NaN
11,2019.05.02,"1,176.30","1,153.70","1,185.38","1,144.62","1,178.98/td>","1,165.00","1,163.80",1.0
12,NaN,NaN,NaN,NaN,NaN,NaN,하락-1.00,NaN,NaN
13,2019.04.30,"1,177.30","1,154.70","1,186.40","1,145.60","1,179.99/td>","1,166.00","1,158.20",1.0
14,NaN,NaN,NaN,NaN,NaN,NaN,상승5.50,NaN,NaN
15,2019.04.29,"1,171.70","1,149.30","1,180.80","1,140.20","1,174.42/td>","1,160.50","1,159.70",1.0
16,2019.04.26,"1,171.70","1,149.30","1,180.80","1,140.20","1,174.42/td>","1,160.50","1,158.70",1.0
17,NaN,NaN,NaN,NaN,NaN,NaN,하락-3.00,NaN,NaN
18,2019.04.25,"1,174.70","1,152.30","1,183.86","1,143.14","1,177.46/td>","1,163.50","1,146.90",1.0
19,NaN,NaN,NaN,NaN,NaN,NaN,상승13.50,NaN,NaN
20,2019.04.24,"1,161.10","1,138.90","1,170.12","1,129.88","1,163.80/td>","1,150.00","1,141.10",1.0
21,NaN,NaN,NaN,NaN,NaN,NaN,상승7.50,NaN,NaN
22,2019.04.23,"1,153.50","1,131.50","1,162.49","1,122.51","1,156.21/td>","1,142.50","1,140.80",1.0
23,NaN,NaN,NaN,NaN,NaN,NaN,상승1.00,NaN,NaN
24,2019.04.22,"1,152.50","1,130.50","1,161.47","1,121.53","1,155.19/td>","1,141.50","1,137.10",1.0
25,NaN,NaN,NaN,NaN,NaN,NaN,상승5.00,NaN,NaN
26,2019.04.19,"1,147.50","1,125.50","1,156.38","1,116.62","1,150.13/td>","1,136.50","1,136.20",1.0
27,NaN,NaN,NaN,NaN,NaN,NaN,하락-1.00,NaN,NaN
28,2019.04.18,"1,148.50","1,126.50","1,157.40","1,117.60","1,151.15/td>","1,137.50","1,136.10",1.0
29,NaN,NaN,NaN,NaN,NaN,NaN,상승4.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1584,NaN,NaN,NaN,NaN,NaN,NaN,상승7.50,NaN,NaN
1585,2016.01.25,"1,208.60","1,185.40","1,217.94","1,176.06","1,211.36/td>","1,197.00","1,203.20",1.0
1586,NaN,NaN,NaN,NaN,NaN,NaN,하락-2.50,NaN,NaN
1587,2016.01.22,"1,211.10","1,187.90","1,220.49","1,178.51","1,213.89/td>","1,199.50","1,209.90",1.0
1588,NaN,NaN,NaN,NaN,NaN,NaN,하락-14.00,NaN,NaN
1589,2016.01.21,"1,225.20","1,201.80","1,234.73","1,192.27","1,228.06/td>","1,213.50","1,211.60",1.0
1590,NaN,NaN,NaN,NaN,NaN,NaN,하락-2.50,NaN,NaN
1591,2016.01.20,"1,227.70","1,204.30","1,237.28","1,194.72","1,230.59/td>","1,216.00","1,209.90",1.0
1592,NaN,NaN,NaN,NaN,NaN,NaN,상승9.50,NaN,NaN
1593,2016.01.19,"1,218.20","1,194.80","1,227.61","1,185.39","1,220.97/td>","1,206.50","1,212.50",1.0
1594,NaN,NaN,NaN,NaN,NaN,NaN,하락-5.00,NaN,NaN
1595,2016.01.18,"1,223.20","1,199.80","1,232.70","1,190.30","1,226.03/td>","1,211.50","1,211.00",1.0
1596,NaN,NaN,NaN,NaN,NaN,NaN,하락-4.00,NaN,NaN
1597,2016.01.15,"1,227.20","1,203.80","1,236.77","1,194.23","1,230.08/td>","1,215.50","1,212.70",1.0
1598,NaN,NaN,NaN,NaN,NaN,NaN,상승1.50,NaN,NaN
1599,2016.01.14,"1,225.70","1,202.30","1,235.24","1,192.76","1,228.56/td>","1,214.00","1,206.40",1.0
1600,NaN,NaN,NaN,NaN,NaN,NaN,상승10.00,NaN,NaN
1601,2016.01.13,"1,215.60","1,192.40","1,225.07","1,182.93","1,218.44/td>","1,204.00","1,208.50",1.0
1602,NaN,NaN,NaN,NaN,NaN,NaN,하락-7.00,NaN,NaN
1603,2016.01.12,"1,222.70","1,199.30","1,232.19","1,189.81","1,225.53/td>","1,211.00","1,208.60",1.0
1604,NaN,NaN,NaN,NaN,NaN,NaN,상승4.50,NaN,NaN
1605,2016.01.11,"1,218.20","1,194.80","1,227.61","1,185.39","1,220.97/td>","1,206.50","1,196.20",1.0
1606,NaN,NaN,NaN,NaN,NaN,NaN,상승7.50,NaN,NaN
1607,2016.01.08,"1,210.60","1,187.40","1,219.98","1,178.02","1,213.38/td>","1,199.00","1,199.70",1.0
1608,2016.01.07,"1,210.60","1,187.40","1,219.98","1,178.02","1,213.38/td>","1,199.00","1,193.90",1.0
1609,2016.01.06,"1,210.60","1,187.40","1,219.98","1,178.02","1,213.38/td>","1,199.00","1,187.70",1.0
1610,NaN,NaN,NaN,NaN,NaN,NaN,상승10.50,NaN,NaN
1611,2016.01.05,"1,200.00","1,177.00","1,209.29","1,167.71","1,202.76/td>","1,188.50","1,184.30",1.0
1612,NaN,NaN,NaN,NaN,NaN,NaN,하락-0.50,NaN,NaN
1613,2016.01.04,"1,200.50","1,177.50","1,209.80","1,168.20","1,203.26/td>","1,189.00","1,172.00",1.0

In [50]:
usa1.columns

Index(['일자', '송금', 'Unnamed: 2', '현찰', 'Unnamed: 4', 'T/C사실때', '매매기준율',
       '한국은행기준율', '대미환산율'],
      dtype='object')